DATABASE_URL=postgresql://postgres.afhepwnynhkvhnkuncnr:TQPl2b4zjZUs8Wc4@aws-1-us-west-2.pooler.supabase.com:6543/postgres
SCHEMA_NAME=public
SECRET_KEY=a_very_secret_key_change_it
ACCESS_TOKEN_EXPIRE_MINUTES=30
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=changethis